---
import Badge from '../../components/Badge.astro'
import MainLayout from '../../components/layout/MainLayout.astro'
---

<MainLayout title="About Sports Jam">
  <section class="py-16 current-highlight">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap mb-32 mt-14 -mx-8">
        <div class="w-full lg:w-1/2 px-8">
          <img
            class="rounded-3xl w-full mb-8"
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/about-us-image.jpg"
            alt=""
          />
        </div>
        <div class="w-full lg:w-1/2 px-8">
          <Badge class="mb-4">ABOUT US</Badge>
          <h1
            class="font-heading text-5xl mb-10 xs:text-6xl md:text-8xl xl:text-10xl font-bold text-gray-900"
          >
            We Live To <span class="font-serif italic">Move</span>
          </h1>
          <p class="mb-6 text-gray-600 leading-9 text-lg">
            Sports Jam was born out of Jam's passion for sports. We officially
            launched Sports Jam with a free 'Come and Try Sports Day' for
            children aged 6 to 12 on October 13, 2018, coinciding with what
            would have been Jam's 11th birthday, held at 185 Old Northern Rd,
            Albany Creek, Queensland.
          </p>
          <p class="mb-6 text-gray-600 text-lg leading-9">
            Initially, our focus was on promoting the 'Come and Try Sports Day'
            to schools and communities, offering kids the opportunity to
            experience multiple sports in one venue.
          </p>
          <p class="text-gray-600 text-lg mb-10 leading-9">
            However, as our community has grown, we've expanded our offerings
            beyond this event. Moving forward, we are planning to introduce
            sports clinics, dance classes, and more, embracing a holistic
            approach to promoting the spirit of movement.
          </p>
        </div>
      </div>
      <div
        class="border border-gray-200 bg-white rounded-3xl flex flex-col md:flex-row mb-32 justify-center"
      >
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="md:border-r border-gray-200 px-12">
            <p class="text-gray-600 mb-2 text-center">Founded</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">2018</h2>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="md:border-r border-gray-200 px-12">
            <p class="text-gray-600 mb-2 text-center">Participants</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">100+</h2>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 py-8">
          <div class="px-12">
            <p class="text-gray-600 mb-2 text-center">Sports</p>
            <h2 class="text-4xl lg:text-5xl font-semibold text-center">10+</h2>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap mb-32 -mx-8">
        <div class="w-full lg:w-1/2 px-8">
          <h2
            class="text-3xl lg:text-5xl font-bold font-heading mb-20 max-w-xs lg:max-w-lg"
          >
            Our <span class="font-serif italic">Mission</span>
          </h2>
          <img
            class="rounded-3xl w-full mb-8"
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/Future-tennis-champions-1-1024x683.jpg"
            alt=""
          />
          <img
            class="rounded-3xl w-full mb-8"
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/karate-girl."
            alt=""
          />
        </div>
        <div class="w-full lg:w-1/2 px-8">
          <img
            class="rounded-3xl w-full mb-24"
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/7R45752-1024x683.jpg"
            alt=""
          />
          <p class="text-gray-600 text-lg mb-10 leading-9">
            At Sports Jam, we are dedicated to three core missions:
          </p>
          <p class="text-gray-600 text-lg mb-10 leading-9"></p>

          <div class="flex flex-col gap-2 mb-14">
            <div class="flex items-center flex-wrap gap-3">
              <div
                class="w-4 h-4 rounded-full bg-orange-500 border border-orange-600 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M12.4733 4.8067C12.4114 4.74421 12.3376 4.69461 12.2564 4.66077C12.1752 4.62692 12.088 4.6095 12 4.6095C11.912 4.6095 11.8249 4.62692 11.7436 4.66077C11.6624 4.69461 11.5886 4.74421 11.5267 4.8067L6.56001 9.78003L4.47334 7.6867C4.40899 7.62454 4.33303 7.57566 4.2498 7.54286C4.16656 7.51006 4.07768 7.49397 3.98822 7.49552C3.89877 7.49706 3.8105 7.51622 3.72844 7.55188C3.64639 7.58754 3.57217 7.63902 3.51001 7.70336C3.44785 7.76771 3.39897 7.84367 3.36617 7.92691C3.33337 8.01014 3.31728 8.09903 3.31883 8.18848C3.32038 8.27793 3.33953 8.36621 3.37519 8.44826C3.41085 8.53031 3.46233 8.60454 3.52667 8.6667L6.08667 11.2267C6.14865 11.2892 6.22238 11.3388 6.30362 11.3726C6.38486 11.4065 6.472 11.4239 6.56001 11.4239C6.64802 11.4239 6.73515 11.4065 6.81639 11.3726C6.89763 11.3388 6.97137 11.2892 7.03334 11.2267L12.4733 5.7867C12.541 5.72427 12.595 5.6485 12.632 5.56417C12.6689 5.47983 12.688 5.38876 12.688 5.2967C12.688 5.20463 12.6689 5.11356 12.632 5.02923C12.595 4.94489 12.541 4.86912 12.4733 4.8067Z"
                    fill="white"></path>
                </svg>
              </div>
              <span class="text-lg text-orange-800 font-bold">Train</span>
              <p class="ml-7 text-gray-600 text-lg mb-10 leading-9">
                We connect kids with clubs and sports organizations to provide
                training across a range of sports.
              </p>
            </div>
            <div class="flex items-center flex-wrap gap-3">
              <div
                class="w-4 h-4 rounded-full bg-orange-500 border border-orange-600 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M12.4733 4.8067C12.4114 4.74421 12.3376 4.69461 12.2564 4.66077C12.1752 4.62692 12.088 4.6095 12 4.6095C11.912 4.6095 11.8249 4.62692 11.7436 4.66077C11.6624 4.69461 11.5886 4.74421 11.5267 4.8067L6.56001 9.78003L4.47334 7.6867C4.40899 7.62454 4.33303 7.57566 4.2498 7.54286C4.16656 7.51006 4.07768 7.49397 3.98822 7.49552C3.89877 7.49706 3.8105 7.51622 3.72844 7.55188C3.64639 7.58754 3.57217 7.63902 3.51001 7.70336C3.44785 7.76771 3.39897 7.84367 3.36617 7.92691C3.33337 8.01014 3.31728 8.09903 3.31883 8.18848C3.32038 8.27793 3.33953 8.36621 3.37519 8.44826C3.41085 8.53031 3.46233 8.60454 3.52667 8.6667L6.08667 11.2267C6.14865 11.2892 6.22238 11.3388 6.30362 11.3726C6.38486 11.4065 6.472 11.4239 6.56001 11.4239C6.64802 11.4239 6.73515 11.4065 6.81639 11.3726C6.89763 11.3388 6.97137 11.2892 7.03334 11.2267L12.4733 5.7867C12.541 5.72427 12.595 5.6485 12.632 5.56417C12.6689 5.47983 12.688 5.38876 12.688 5.2967C12.688 5.20463 12.6689 5.11356 12.632 5.02923C12.595 4.94489 12.541 4.86912 12.4733 4.8067Z"
                    fill="white"></path>
                </svg>
              </div>
              <span class="text-lg text-orange-800 font-bold">Teach</span>
              <p class="ml-7 text-gray-600 text-lg mb-10 leading-9">
                We instill valuable team skills, values, and beliefs in our
                children to enrich their lives.
              </p>
            </div>
            <div class="flex items-center flex-wrap gap-3">
              <div
                class="w-4 h-4 rounded-full bg-orange-500 border border-orange-600 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M12.4733 4.8067C12.4114 4.74421 12.3376 4.69461 12.2564 4.66077C12.1752 4.62692 12.088 4.6095 12 4.6095C11.912 4.6095 11.8249 4.62692 11.7436 4.66077C11.6624 4.69461 11.5886 4.74421 11.5267 4.8067L6.56001 9.78003L4.47334 7.6867C4.40899 7.62454 4.33303 7.57566 4.2498 7.54286C4.16656 7.51006 4.07768 7.49397 3.98822 7.49552C3.89877 7.49706 3.8105 7.51622 3.72844 7.55188C3.64639 7.58754 3.57217 7.63902 3.51001 7.70336C3.44785 7.76771 3.39897 7.84367 3.36617 7.92691C3.33337 8.01014 3.31728 8.09903 3.31883 8.18848C3.32038 8.27793 3.33953 8.36621 3.37519 8.44826C3.41085 8.53031 3.46233 8.60454 3.52667 8.6667L6.08667 11.2267C6.14865 11.2892 6.22238 11.3388 6.30362 11.3726C6.38486 11.4065 6.472 11.4239 6.56001 11.4239C6.64802 11.4239 6.73515 11.4065 6.81639 11.3726C6.89763 11.3388 6.97137 11.2892 7.03334 11.2267L12.4733 5.7867C12.541 5.72427 12.595 5.6485 12.632 5.56417C12.6689 5.47983 12.688 5.38876 12.688 5.2967C12.688 5.20463 12.6689 5.11356 12.632 5.02923C12.595 4.94489 12.541 4.86912 12.4733 4.8067Z"
                    fill="white"></path>
                </svg>
              </div>
              <span class="text-lg text-orange-800 font-bold">Promote</span>
              <p class="ml-7 text-gray-600 text-lg mb-10 leading-9">
                We advocate for the positive impact of sports and outdoor
                activities on families and children.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-center text-4xl lg:text-5xl mb-9 font-bold font-heading">
        Our <span class="font-serif italic">Sports</span> Partners
      </h2>
      <div class="bg-gray-50 rounded-3xl mb-32 flex flex-wrap py-8">
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/Tennis-jpg-1713084396954.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/Woods-Tennis-jpg-1713084428500.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/baiRui-logo-jpg-1713084464273.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/QCSA-jpg-1713084520054.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/2018-08-12-15-12-47-Soccer-Google-Drive-png-1713084552134.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/Brisbane-Roar-jpg-1713084599891.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/bbi-png-1713084695634.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/2017-Auskick-Logo-png-1713084741684.webp"
            alt=""
          />
        </div>
        <div
          class="w-full md:w-1/2 lg:w-1/3 py-8 px-16 flex justify-center items-center"
        >
          <img
            src="https://static.shuffle.dev/uploads/files/9f/9f7be124245360ff3df9b74a86a83b1f67022b7a/wizardsCOL150mm-png-1713084876150.webp"
            alt=""
          />
        </div>
      </div>

      <div class="container px-4 mx-auto">
        <div
          class="relative max-w-7xl mx-auto px-6 md:px-12 py-16 sm:py-28 rounded-4xl bg-orange-800 overflow-hidden"
        >
          <img
            class="absolute top-0 left-1/2 transform -translate-x-1/2 h-full object-cover"
            src="/images/circle-bg.svg"
            alt=""
          />
          <div class="relative text-center">
            <h2
              class="font-heading text-4xl sm:text-5xl md:text-6xl font-bold text-white mb-8"
            >
              Sign up
              <span class="font-serif italic">today!</span>
            </h2>
            <a
              class="relative group inline-block w-full sm:w-auto py-4 px-6 text-orange-900 hover:text-white font-semibold bg-white rounded-md overflow-hidden transition duration-300"
              href="#"
            >
              <div
                class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-110 transition duration-500"
              >
              </div>
              <div class="relative flex items-center justify-center">
                <span class="mr-4">Join Now</span>
                <span>
                  <svg
                    width="8"
                    height="12"
                    viewBox="0 0 8 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.83 5.28999L2.59 1.04999C2.49704 0.956266 2.38644 0.881872 2.26458 0.831103C2.14272 0.780334 2.01202 0.754196 1.88 0.754196C1.74799 0.754196 1.61729 0.780334 1.49543 0.831103C1.37357 0.881872 1.26297 0.956266 1.17 1.04999C0.983753 1.23736 0.879211 1.49081 0.879211 1.75499C0.879211 2.01918 0.983753 2.27263 1.17 2.45999L4.71 5.99999L1.17 9.53999C0.983753 9.72736 0.879211 9.98081 0.879211 10.245C0.879211 10.5092 0.983753 10.7626 1.17 10.95C1.26344 11.0427 1.37426 11.116 1.4961 11.1658C1.61794 11.2155 1.7484 11.2408 1.88 11.24C2.01161 11.2408 2.14207 11.2155 2.26391 11.1658C2.38575 11.116 2.49656 11.0427 2.59 10.95L6.83 6.70999C6.92373 6.61703 6.99813 6.50643 7.04889 6.38457C7.09966 6.26271 7.1258 6.13201 7.1258 5.99999C7.1258 5.86798 7.09966 5.73728 7.04889 5.61542C6.99813 5.49356 6.92373 5.38296 6.83 5.28999Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
