---
import Badge from '../Badge.astro'
---

<section class="relative xl:pt-20 overflow-hidden">
  <div class="relative container px-4 mx-auto">
    <div class="max-w-7xl mx-auto">
      <div class="layout">
        <div class="lg:max-w-xl max-w-lg mx-auto lg:mx-0 xl:h-[80rem]">
          <Badge> WHAT IS SPORTS JAM? </Badge>
          <h2
            class="font-heading text-5xl xs:text-6xl xl:text-7xl font-bold mb-16"
          >
            We're all about
            <span class="font-serif italic">Moving</span>
          </h2>
          <p class="text-xl text-gray-500 font-semibold mb-4 leading-9">
            <span class="font-black">Sports Jam</span>
            is an initiative aimed at inspiring people of all ages to embrace healthier
            lifestyles through the joy of movement.
          </p>
          <p class="text-xl text-gray-500 font-semibold mb-4 leading-9">
            Whether it's sports or dance, we offer a wide variety of events for
            both kids and adults to participate in.
          </p>
        </div>
        <img
          class="xl:absolute xl:top-0 xl:-right-[28rem] xl:min-w-max"
          src="https://static.shuffle.dev/uploads/files/53/53236905e405e8defab8d22e2d165a01ccdfcb9b/sports-jam-image-collage-1.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<style>
  .layout {
    /* display: grid;
    grid-template-columns: 35rem 1fr; */
  }
</style>
