<section class="relative py-20 overflow-hidden">
  <div class="container px-4 mx-auto">
    <div class="max-w-7xl mx-auto">
      <div class="flex flex-col lg:flex-row lg:gap-20 -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
          <div class="max-w-md lg:max-w-xl mx-auto lg:mx-0">
            <span
              class="inline-block py-2 px-3 mb-10 text-xs bg-orange-50 text-primary font-semibold rounded-full"
            >
              JOIN THE JAM
            </span>
            <h2
              class="font-heading text-5xl xs:text-6xl font-bold text-gray-900 mb-10"
            >
              Sign up for the next
              <span class="font-serif italic">Sports Jam</span>
              event
            </h2>
            <p class="text-xl text-gray-500 font-semibold leading-9 mb-4">
              Click the button below to be a part of the next Sports Jam event
            </p>
            <a
              class="block w-full text-center py-4 px-6 text-white font-semibold rounded-md bg-primary overflow-hidden"
              href="#">Join Now</a
            >
          </div>
        </div>
        <img
          class="block w-full"
          src="https://static.shuffle.dev/uploads/files/53/53236905e405e8defab8d22e2d165a01ccdfcb9b/Group-12.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
